{% extends 'base.html' %}
{% block title %}About US{% endblock %}
{% block body %}
<div class="px-4 py-5 my-5 text-center border-bottom">
    <img class="d-block mx-auto mb-4" src="https://pbs.twimg.com/media/De_eVaWWkAATtzN.jpg" alt="" width="165" height="110">
    <h1 class="display-5 fw-bold">Лучший проект за 2100 г.</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Gacho Inc. самый продвигаемый товар за последнюю сотню лет! Миллионы клиентов состоят в своих dungeon с нашими Bondage. Заказывая Bondage с Billy support, вы получаете эксклюзивную фигурку billy.</p>
    </div>
  </div>
<div class="px-4 py-5 text-center border-bottom">
    <h1>Отзывы</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Тысячи дискорд серверов состоят в наших рядах увожаемых slaves. Не проходите мимо! Присоединяйтесь, dungeon не ждет!</p>
    </div>
</div>
<div class="px-4 py-5 text-center">
    <h2 class="display-4 fw-bold">Предложения</h2>
    <br>
    <a class="btn btn-outline-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
        Контактная информация
    </a>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel" style="font-family: 'Comfortaa', cursive;'">Dungeon master ответит вам в течении 10 минут</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
        <h6>Discord</h6>
        <p><span class="btn-outline-danger">Мистер Клоун#1485</span></p>
        <br>
        <h6>Вк</h6>
        <p><a href='https://vk.com/mrclownin' class=" btn-link">Mr.Clown</a></p>
    </div>
  </div>
</div>
</div>
{% endblock %}
