{% extends 'base.html' %}
{% block title %} Войдите в аккаунт {% endblock %}
{% block body %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Войдите в свой аккаунт</h1>
        <p class="col-lg-10 fs-4">И тогда вам будет доступен бесплатный  купите <a href="/pricing"><span style="font-family:'Source Code Pro', monospace;">Bondage</span></a></p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form action="" method="post" class="p-4 p-md-5 border rounded-3 bg-light">
          <div class="form-floating mb-3">
            <input  class="form-control" id="floatingInput" placeholder="login" name="login">
            <label for="floatingInput">Логин</label>
          </div>

          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="password" name="password">
            <label for="floatingPassword">Пароль</label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
          <hr class="my-4">
          <small class="text-muted"><a class="btn-outline-dakr" href="/register">Если у вас нет аккаунта, зарегистрируйтесь тут</a></small>
          <hr>
          <small class="text-muted">Нажимая 'Войти', вы соглашаетесь с penetration.</small>
        </form>
      </div>
    </div>
  </div>
{% endblock %}