<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--РЕДАКТ САЙТА-->
    <meta name="description" content="Мы Gacho-Inc. Лучшие среди иных fucking slaves. Bondage, свой billy и многое другое именно тут! Не нравиться? Идите нахуй">
    <meta name="author" content="Мистер Клоун">
    <meta name="keywords" content="Гачи Gachi, gacho, гаче, gay-website">
    <meta name="theme-color" content="#0c00ff">
    <!-- ИКОНКИ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="shortcut icon" sizes="32x32" href="https://media.discordapp.net/attachments/681524536344182847/877662922535489606/favicon-32x32.png">
    <!-- TITLE -->
    <title>
        {% block title%}{% endblock %}
    </title>
    <!-- ШРИФТЫ -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <!-- СТИЛИ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <!--  BOOTSTRAP JS  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <!-- КАСТОМНЫЕ СТИЛИ -->
    <style>
        {% block style %}{% endblock %}
    </style>
</head>
<body>


<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
              <title>Gacho</title>
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
          </svg>
        <span class="fs-4">Gacho</span>


      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
<!--        <a class="me-3 py-2 text-dark text-decoration-none" href="/update"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Update log</a>-->
        <a class="me-3 py-2 text-dark text-decoration-none" href="/"><i class="fa fa-home" aria-hidden="true"></i>Главная страничка</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/about"><i class="fa fa-info-circle" aria-hidden="true"></i>About US</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/pricing"><i class="bi bi-graph-up"></i>Цены на bondage</a>
      </nav>
        {% if user.is_authenticated %}
        <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-user-o" aria-hidden="true"></i> {{user.login}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/home/{{user.login}}">Домой в Gym</a></li>
                <li><a class="dropdown-item disabled"><i class="fa fa-address-card-o link-info" aria-hidden="true"></i> В разработке...</a></li>
                {% if user.login == 'sanekakf' %}
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">Добро пожаловать Billy</h6></li>
                <li><a class="dropdown-item link-danger" href="/home/sanekakf/create"><i class="bi bi-file-plus"></i>Создать товар</a></li>
                <li><a class="dropdown-item link-info" href="/redact"><i class="bi bi-pencil link-success"></i>Редактировать предметы</a></li>
                {% endif %}
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Выйти из аккаунта</a></li>
            </ul>
        </div>
        {% else %}
        <a class="btn btn-outline-primary" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Войти</a>
        {% endif %}

    </div>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">{% block hero_title %}{%endblock%}</h1>
      <p class="fs-5 text-muted">{%block hero_description%}{%endblock%} </p>
    </div>
  </header>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == 'error' %}
    <div class="alert alert-danger alter-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert">
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert">
      </button>
    </div>
    {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}

    {% block body %} {% endblock %}

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="https://pbs.twimg.com/media/De_eVaWWkAATtzN.jpg" alt="" width="150" height="100">
        <small class="d-block mb-3 text-muted">© 2017–2021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Полезные ссылки</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://discord.gg/yeWmqAMqa5">Наш сервер в Discord</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none disabled">Приложение Gacho-Inc.</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
</body>
</html>