{% extends 'base.html' %}
{% block title %} Партнеры {% endblock %}
{% block body %}
<main>
    {% if partnerships is not None %}
        {% for partner in partnerships %}
        <div class="row flex-lg-row-reverse align-items-center g-3 py-3">
            <div class="col-lg-6">
                <h1 class="display-4 fw-bold lh-1 mb-3">{{ partner.name }}</h1>
                <p class="lead"><span style="font-family: 'Roboto Mono', monospace;"> {{ partner.description }}</span></p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="/partnerships/{{partner.name}}/" class="btn btn-outline-secondary btn-lg px-4 me-sm-3">{{ partner.members }} участников</a>
                </div>
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ partner.avatarUrl }}" class="d-block mx-lg-auto img-fluid rounded-3" alt="Аватар Класса" width="600" height="600" loading="lazy">
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="px-4 pt-5 my-5 text-center border-bottom">
            <h1 class="display-4 fw-bold">
                <a href="/partnerships/create/" class="btn btn-success btn-lg">
                    Создай первый!
                </a>
            </h1>
        </div>
    {% endif %}
</main>
{% endblock %}