{% extends 'base.html' %}
{% block title %} Пикчи {% endblock %}
{% block body %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Пикчи с магаза</h1>
      </div>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
<!--<div class="col-10 col-sm-8 col-lg-6">-->
<!--        <img src="https://steamuserimages-a.akamaihd.net/ugc/1290793614551278403/0A3A74BCB71732B048F52C5AF6D27B1D4EFEF757/" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="800" height="800" loading="lazy">-->
<!--      </div>-->
        <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://www.szexshop24.hu/termekek/Bad-Kitty-D-gyurus-kotozo-mellham-ferfiaknak-fekete-12894G.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="800" height="800" loading="lazy">
      </div>
        <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://media.discordapp.net/attachments/498107667269812238/883779444706263060/school.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="800" height="800" loading="lazy">
      </div>



    </div>
  </div>
{% endblock %}