{% extends 'base.html' %}
{% block title %} Main products {% endblock %}
{% block hero_title %} Наши товары {%endblock%}
{% block hero_description%}Наша компания предоставляет лучшие товары по <span style="font-family: 'Roboto Mono', monospace;">Гачи</span> даже тогда, когда сам Billy пользовался нами. Гарантия качества обеспечена {%endblock%}
{% block body %}
<main>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% for product in products %}
    <div class="col">

        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{product.name.replace('0', ' ')}}</h4>
          </div>
          <img src="{{product.avatarUrl}}" class="card-img-top" alt="Start Bondage">
          <div class="card-body">
            <h1 class="card-title pricing-card-title">${{product.price}}<small class="text-muted fw-light">/{{product.long}}</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              {{product.zametki}}
            </ul>
            <a href='/pricing/{{product.name}}' class="w-100 btn btn-lg btn-outline-primary">Купить</a>

          </div>
        </div>

      </div>
{% endfor %}
  </div>
</main>
{% endblock %}