{% extends 'base.html' %}
{% block title %} Создание нового элемента {% endblock %}
{% block body %}
<form method="post" action="">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">
            <div class="mb-3">
             <label for="select" class="form-label">Имя товара</label>
                <select class="form-select" id='select' aria-label="Default select example" name="name">
                    {% for product in products %}
                    <option value="{{ product.name }}"><button type="submit">{{ product.name }}</button></option>
                    {% endfor %}
                </select>
            </div>
        </h1>
          <h2>
          </h2>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label text-danger">
                !Объект замены!
                <a class="text-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"><\Список значений\></a>

                <div class="offcanvas offcanvas-bottom text-success" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasBottomLabel">Self не считается</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body small">
                        self.name = name<br>
                        self.price = price<br>
                        self.description = description<br>
                        self.avatarUrl = avatarUrl<br>
                        self.long = long<br>
                        self.zametki = zametki<br>
                    </div>
                </div>
            </label>
            <input type="text" class="form-control" name="object" id="exampleFormControlInput1" placeholder="Сложное название">
        </div>
        <div class="mb-3">
            <label for="Zametki" class="form-label">
                Новое значение
            </label>
            <input type="text" class="form-control" placeholder="Клеймо на товар" name="new" id="Zametki">
        </div>
          <hr>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <input type="submit" class="btn btn-outline-dark btn-lg px-4 me-md-2 fw-bold" value="Обновить">
            <div class="dropdown">
                <button class="btn btn-outline-danger dropdown-toggle btn-lg px-4 me-md-2 fw-bold" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Удалить
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% for product in products %}
                    <li><a class="dropdown-item" href="/delete/{{product.name}}">{{product.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

      </div>
    </div>
</form>
{% endblock %}